@media(max-width: $media-lg) {
    .products-slider {
        .splide__arrows {
            top: rem(-29);
            @include translate(0, 0);
        }
    }
}

@media(max-width: $media-md) {
    .badge {
        &_lg {
            height: rem(35);
            line-height: rem(35);
    
            &.badge_main {
                font-size: rem(15);
            }
            &.badge_primary {
                font-size: rem(20);
            }
        }
    }

    .products-slider {
        &_landscape {
            .products-slider {
                &__slide {
                    padding: 0 rem(5);
                }
            }
        }

        .splide__arrows {
            top: rem(-30);
        }
    }

    .video-player {
        &__control {
            img {
                width: rem(48);
            }
        }
    }

    .main-pagination {
        .splide__pagination {
            button {
                width: rem(12);
                height: rem(12);
                margin-left: rem(16);
            }
        }
    }

    .sitemap {
        &__footer {
            padding-top: rem(64);
        }
    }

    .spoiler-box {
        &_tablet {
            .spoiler-box {
                &__content {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: $media-sm) {
    .badge {
        height: rem(20);
        line-height: rem(20);
    
        &_primary {
            font-size: rem(12);
            padding-left: rem(10);
            padding-right: rem(10);
        }
    
        &_main {
            font-size: rem(10);
            padding-left: rem(10);
            padding-right: rem(10);
        }
    
        &_gradient {
            font-size: rem(8);
            padding-left: rem(10);
            padding-right: rem(10);
        }

        &_md {
            height: rem(25);
            line-height: rem(25);
    
            &.badge_main {
                font-size: rem(13);
                padding-left: rem(20);
                padding-right: rem(20);
            }
            &.badge_primary {
                font-size: rem(15);
            }
        }

        &_lg {
            height: rem(35);
            line-height: rem(35);

            &.badge_main {
                padding-left: rem(14);
                padding-right: rem(14);
            }
            &.badge_primary {
                padding-left: rem(14);
                padding-right: rem(14);
            }
        }
    }

    .main-pagination {
        .splide__pagination {
            button {
                width: rem(10);
                height: rem(10);
            }
        }
    }

    .main-controls {
        .splide__arrows {
            .splide__arrow {
                width: rem(32);
                height: rem(32);

                svg {
                    width: rem(18);
                }

                &.splide__arrow--next {
                    margin-left: rem(12);
                }
            }
        }
    }

    .video-player {
        &__control {
            img {
                width: rem(40);
            }
        }
    }

    .products-slider {
        &__slide {
            padding: 0 rem(3);
            
            .product {
                // width: rem(200);

                // &.landscape-product {
                //     width: rem(240);
                // }
            }
        }

        .splide__track {
            margin-left: rem(-13);
            margin-right: rem(-13);
        }

        .splide__arrows {
            top: rem(-22);
        }
    }

    .breadcrumb {
        font-size: rem(13);
        line-height: rem(16);
        
        &__wrap {
            margin: rem(-7) 0 0 rem(-10);
        }
    
        &__link {
            margin-left: rem(10);
            margin-top: rem(7);
    
            &::before {
                right: rem(-7);
            }
    
            &_btn {
    
                &+.breadcrumb__link {
                    margin-left: rem(20);
                }
    
                &::before {
                    right: rem(-13);
                }
            }
        }
    }

    
    .about {
        margin-bottom: rem(64);

        &__title {
            margin-bottom: rem(24);
        }
    }

    .sitemap {
        margin-bottom: rem(64);
    
        &__title {
            margin-bottom: rem(32);
        }
    
        &__category {
            margin-bottom: rem(20);
    
            &-title {
                margin-bottom: rem(24);
            }

            .catalog-item {
                margin-bottom: rem(24);
            }
        }

        &__footer {
            padding-top: rem(32);
            @include flex-flow(column, nowrap);
        }

        &__link {
            margin-bottom: rem(12);
        }
    }

    .order-section {
        margin-bottom: rem(64);

        &__heading {
            @include justify(space-between);
        }
    
        &__title {
            margin-bottom: rem(16);
            text-align: left;
        }

        &__total {
            display: block;
        }
    
        &__tabs {
            display: none;
        }

        &_preview {
            .order-section {
                &__title {
                    padding-right: rem(90);
                }
            }
        }
    }

    .spoiler-box {
        &_mobile {
            .spoiler-box {
                &__content {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $media-xs) {
    .badge {
        &_lg {
            height: rem(25);
            line-height: rem(25);
    
            &.badge_main {
                font-size: rem(13);
                padding-left: rem(20);
                padding-right: rem(20);
            }
            &.badge_primary {
                font-size: rem(15);
            }
        }
    }
}