// sass --watch --style=compressed assets/scss:assets/css
// sass --no-source-map --watch --style=compressed assets/scss:assets/css
@import "utils/_module";
@import "core/_icons";
@import "components/_button";
@import "components/_form-items";
@import "components/_chart-dropdown";


.badge {
    font-weight: bold;
    font-style: italic;
    color: #fff;
    height: rem(25);
    line-height: rem(25);
    display: inline-block;
    position: relative;
    z-index: 1;

    &:after{
        content: '';
        position: absolute;
        right: rem(-13);
        top: 0;
        bottom: 0;
        width: rem(20);
        background-color: inherit;
        z-index: -1;
        -webkit-transform: skew(-24deg);
        -moz-transform: skew(-24deg);
        transform: skew(-24deg);
    }
    &:before{
        content: '';
        position: absolute;
        left: rem(-13);
        top: 0;
        bottom: 0;
        width: rem(20);
        background-color: inherit;
        z-index: -1;
        -webkit-transform: skew(-24deg);
        -moz-transform: skew(-24deg);
        transform: skew(-24deg);
    }

    &_primary {
        font-size: rem(15);
        background-color: $color-primary;
        margin-left: rem(12 + 13);
        margin-right: rem(12 + 13);
    }

    &_main {
        font-size: rem(13);
        background-color: $color-main;
        margin-left: rem(16 + 13);
        margin-right: rem(16 + 13);

        &.theme-mode {
            background-color: var(--themeMainColor);
            color: var(--themeSecondaryColor);
        }
    }

    &_gradient {
        font-size: rem(13);
        margin-left: rem(13 + 13);
        margin-right: rem(13 + 13);
        background: linear-gradient(127.81deg, #E83906 16.48%, #FBB03B 63.48%, #E83906 83.52%);
    }
}

.switcher {
    display: inline-block;
    @extend %user-cursor;
    color: var(--themeMainColor);

    &__wrap {
        border-radius: rem(6.5);
        border: rem(1) solid currentColor;
        position: relative;
    }

    &__dot {
        background-color: currentColor;
        @include center-absolute(vertical);
        left: 8%;
        width: rem(7);
        height: rem(7);
        border-radius: 50%;
        @include transition(all,0.3s,ease);
    }

    &_sm {
        .switcher {
            &__wrap {
                width: rem(25);
                height: rem(13);
            }
        }
    }

    &.active {
        .switcher {
            &__dot {
                left: 56%;
            }
        }
    }
}

.social-icons {
    @extend %flex;

    .social-icon {
        margin-left: rem(12);

        &:first-child {
            margin-left: 0;
        }
    }
}

.social-icon {
    &_sm {
        img {
            width: rem(30);
        }
    }

    &_md {
        img {
            width: rem(35);
        }
    }

    &_lg {
        img {
            width: rem(40);
        }
    }
}