.btn {
    position: relative;
    @extend %inline-flex;
    @extend %align-middle;
    @extend %align-center;
    @extend %user-cursor;
    @extend %primary-transition;
    max-width: 100%;
    border-radius: rem(100);

    // & > span {
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }

    & > img,& > svg, & > .icon {
        &:last-child {
            margin-left: rem(10);
        }

        &:first-child {
            margin-right: rem(10);
        }
    }


    // types ******************************
    &_main {
        border: rem(1) solid var(--themeMainColor);
        background-color: var(--themeMainColor);
        color: var(--themeSecondaryColor);

        &-border {
            border: rem(1) solid var(--themeMainColor);
            background-color: var(--themeSecondaryColor);
            color: var(--themeMainColor);
        }

        &.ignore-theme {
            border: rem(1) solid $color-main;
            background-color: $color-main;
            color: #fff;
        }
    }

    &_primary {
        border: rem(1) solid $color-primary;
        background-color: $color-primary;
        color: #fff;
    }

    // sizes ***************************
    &_xs {
        height: rem(30);
        padding-left: rem(12);
        padding-right: rem(12);
    }

    &_sm {
        height: rem(35);
        padding-left: rem(12);
        padding-right: rem(12);
    }

    &_md {
        height: rem(45);
        padding-left: rem(16);
        padding-right: rem(16);

        @media (max-width: $media-sm) {
            height: rem(37);
        }
    }
}