.catalog-menu {
    z-index: z(catalog-menu);
    position: relative;
    padding: 0 rem(20);
    color: var(--themeMainColor);

    &__wrap {
        background-color: var(--themeSecondaryColor);
        position: relative;
    }

    &__header {
        display: none;
    }

    &__controls {
        position: relative;
        z-index: 1;
        @extend %flex;
        padding: rem(17) rem(9);
        background-color: var(--themeSecondaryColor);
        @include transition(background-color,0.3s,ease);
        overflow-x: auto;
    }

    &__tab {
        font-weight: 600;
        @include flex(0, 0, 20%);
        max-width: 20%;
        @extend %flex;
        @extend %align-middle;
        opacity: 0.5;
        padding: 0 rem(8);

        .icon {
            font-size: rem(32);
            margin-right: rem(8);
        }

        &.active {
            opacity: 1;
        }
    }

    &__content {
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--themeSecondaryColor);
        box-shadow: map-get($shadows, 'md');
        @extend %hidden;
        @include transition(all,0.3s,ease);
        padding: rem(107) rem(27) rem(34);
        max-height: calc(100vh - rem(100));
        overflow: auto;

        &.tabs__content {
            position: absolute;

            @media (min-width: 768px) {
                .splide__list {
                    display: block;
                }
            }

            .tab-content.active {
                pointer-events: none;
            }
        }
    }

    &__category-title {
        display: none;
    }

    &__categories {
        .catalog-item {
            margin-bottom: rem(56);
        }
    }

    &.active {
        .catalog-menu {
            &__content {
                @extend %show;

                &.tabs__content {
                    .tab-content.active {
                        pointer-events: auto;
                    }
                }
            }
        }
    }
}

.catalog-item {
    @extend %flex;

    &__image {
        @include flex(0, 0, rem(100));
        margin-right: rem(32);
    }

    &__category {
        @include font(bold, 18, 1, inherit, 0);
        margin-bottom: rem(16);

        a {
            display: inline-block
        }
    }

    &__links {
        @extend %flex;
        @include flex-flow(column, nowrap);
        @extend %align-top;
    }

    &__subcategory {
        font-size: rem(15);
        margin-bottom: rem(7);

        a {
            display: inline-block;

            &:hover {
                color: $color-primary;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


@media (max-width: $media-md) {
    .catalog-menu {
        &__tab {
            @include flex(0, 0, auto);
            max-width: initial;
            font-size: rem(14);

            .icon {
                font-size: rem(24);
            }
        }

        &__content {
            padding: rem(95) rem(16) rem(24);
        }
    }

    .catalog-item {
        &__image {
            @include flex(0, 0, rem(80));
            margin-right: rem(16);
        }
    
        &__category {
            font-size: rem(16);
            margin-bottom: rem(12);
        }
    
        &__subcategory {
            font-size: rem(13);
            margin-bottom: rem(6);
        }
    }
}

@media (max-width: $media-sm) {
    .catalog-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: z(modal);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 0;
        background-color: var(--themeSecondaryColor);
        overflow: auto;

        &__wrap {
            overflow: auto;
        }

        &__header {
            display: block;
            position: relative;
            padding: rem(20);
        }

        &__title {
            font-size: rem(20);
            font-weight: bold;
            padding-right: rem(32);
            margin-bottom: rem(16);
        }

        &__controls {
            display: none;
        }

        &__close {
            position: absolute;
            top: rem(23);
            right: rem(23);
            font-size: rem(20);
            z-index: 1;
            opacity: 0.5;
        }

        &__content {
            position: relative;
            top: initial;
            left: initial;
            right: initial;
            max-height: initial;
            overflow: initial;
            box-shadow: none;
            background-color: initial;
            padding: rem(24) rem(12);
            max-width: 100%;
            display: flex;
            display: -ms-flexbox;
            @include flex-flow(column-reverse, nowrap);

            .splide__pagination {
                margin-bottom: rem(16);

                button {
                    background-color: var(--themeMainColor);
                }
            }

            &.tabs__content {
                position: relative;

                .tab-content {
                    position: relative;
                    top: initial;
                    left: initial;
                    right: initial;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__category {
            &-title {
                display: block;
                font-size: rem(15);
                font-weight: bold;
                margin-bottom: rem(20);
                text-align: center;
            }
        }

        &__categories {
            .catalog-item {
                margin: 0 rem(-16) rem(24);
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;

            .catalog-menu {
                &__content {
                    &.tabs__content {
                        .tab-content {
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
    }

    .catalog-item {
        display: block;

        &__image {
            max-width: rem(80);
            margin-right: 0;
            margin-bottom: rem(10);
            margin-left: auto;
            margin-right: auto;
        }
    
        &__category {
            font-size: rem(12);
            margin-bottom: 0;
            text-align: center;
        }
    
        &__links {
            display: none;
        }
    }
}