.catalog-menu {
    z-index: z(catalog-menu);
    color: var(--themeMainColor);
    width: 100%;
    position: absolute;
    top: rem(95);
    left: 0;

    &__wrap {
        background-color: var(--themeSecondaryColor);
        position: relative;
    }

    &__header {
        display: none;
    }

    &__controls {
        position: relative;
        z-index: 1;
        @extend %flex;
        @extend %align-between;
        padding: rem(17) rem(9);
        background-color: var(--themeSecondaryColor);
        @include transition(background-color,0.3s,ease);
        // overflow-x: auto;
    }

    &__tab {
        font-weight: 600;
        @extend %flex;
        @extend %align-middle;
        opacity: 0.5;
        padding: 0 rem(8);

        .icon {
            font-size: rem(32);
            margin-right: rem(8);
        }

        &.active, &:hover {
            opacity: 1;
        }
    }

    &__content {
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--themeSecondaryColor);
        box-shadow: map-get($shadows, 'md');
        @extend %hidden;
        @include transition(all,0.3s,ease);
        padding: rem(107) rem(10) rem(34);
        max-height: calc(100vh - rem(100));
        @extend %flex;

        .catalog-menu__categories {
            overflow-y: auto;
            overflow-x: hidden;
            padding-left: rem(17);
            padding-right: rem(17);
            @extend %flex;
    
            &::-webkit-scrollbar {
                width: rem(3);
                background-color: var(--themeMainColor01);
    
                &-thumb {
                    background-color: var(--themeMainColor05);
                }
            }
        }

        &.tabs__content {
            position: absolute;

            @media (min-width: 768px) {
                .splide__list, .splide__slide {
                    display: flex;
                    display: -ms-flexbox;
                    max-width: 100%;
                }
            }

            .tab-content.active {
                pointer-events: none;
            }
        }
    }

    &__categories {
        .catalog-item {
            margin-bottom: rem(56);
        }
    }

    &.active {
        .catalog-menu {
            &__content {
                @extend %show;

                &.tabs__content {
                    .tab-content.active {
                        pointer-events: auto;
                    }
                }
            }
        }
    }

    &.fixed.active {
        position: fixed;
        top: rem(70);
    }
}

.catalog-item {
    @extend %flex;

    &__image {
        @include flex(0, 0, rem(100));
        margin-right: rem(32);
    }

    &__category {
        @include font(bold, 18, 1, inherit, 0);
        margin-bottom: rem(16);

        a {
            display: inline-block
        }
    }

    &__links {
        @extend %flex;
        @include flex-flow(column, nowrap);
        @extend %align-top;
    }

    &__subcategory {
        font-size: rem(15);
        margin-bottom: rem(7);

        a {
            display: inline-block;

            &:hover {
                color: $color-primary;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


@media (max-width: $media-md) {
    .catalog-menu {
        top: rem(104);

        &__tab {
            max-width: initial;
            font-size: rem(13);

            .icon {
                display: none;
            }
        }

        &__content {
            padding: rem(95) rem(16) rem(24);
        }

        &.fixed.active {
            top: rem(62);
        }
    }

    .catalog-item {
        &__image {
            @include flex(0, 0, rem(80));
            margin-right: rem(16);
        }
    
        &__category {
            font-size: rem(16);
            margin-bottom: rem(12);
        }
    
        &__subcategory {
            font-size: rem(13);
            margin-bottom: rem(6);
        }
    }
}

@media (max-width: $media-sm) {
    .catalog-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: z(modal);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 0;
        background-color: var(--themeSecondaryColor);
        display: flex;
        display: -ms-flexbox;

        & > .row {
            & > .column {
                max-height: 100%;
                display: flex;
                display: -ms-flexbox;
            }
        }

        &__wrap {
            max-width: 100%;
            display: flex;
            display: -ms-flexbox;
            @include flex-flow(column, nowrap);
            padding-bottom: rem(16);
        }

        &__header {
            display: block;
            position: relative;
            padding: rem(20) 0;
        }

        &__tabs {
            max-height: calc(100% - rem(112));
            display: flex;
            display: -ms-flexbox;
            @include flex-flow(column, nowrap);
            margin-left: rem(-10);
            margin-right: rem(-10);
            @include flex(1, 1, auto);
        }

        &__title {
            font-size: rem(20);
            font-weight: bold;
            padding-right: rem(32);
            margin-bottom: rem(16);
        }

        &__controls {
            padding: 0;
            background-color: transparent;
            margin-bottom: rem(20);
            width: 100%;
            @include justify(center);
        }

        &__tab {
            font-size: rem(15);
            padding: 0;
            position: absolute;
            font-weight: bold;
            top: 0;
            left: rem(10);
            right: rem(10);
            @include justify(center);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            cursor: text;
            text-align: center;

            &.active {
                opacity: 1;
                visibility: visible;
                pointer-events: none;
                position: static;
            }
        }

        &__close {
            position: absolute;
            top: rem(23);
            right: 0;
            font-size: rem(20);
            z-index: 1;
            opacity: 0.5;
        }

        &__content {
            position: relative;
            top: initial;
            left: initial;
            right: initial;
            max-height: initial;
            overflow: initial;
            box-shadow: none;
            background-color: initial;
            padding: 0;
            max-width: 100%;
            display: flex;
            max-height: calc(100% - rem(40));
            display: -ms-flexbox;
            @include flex-flow(column-reverse, nowrap);

            .catalog-menu__categories {
                padding-left: rem(27);
                padding-right: rem(27);
            }

            .splide__slide {
                display: flex;
                display: -ms-flexbox;
                @include flex-flow(column, nowrap);
            }
            .splide__pagination {
                margin-bottom: rem(16);

                li {
                    pointer-events: none;
                }

                button {
                    background-color: var(--themeMainColor);
                }
            }

            &.tabs__content {
                position: relative;

                .tab-content {
                    position: relative;
                    top: initial;
                    left: initial;
                    right: initial;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__categories {
            .catalog-item {
                margin: 0 rem(-16) rem(24);
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;

            .catalog-menu {
                &__content {
                    &.tabs__content {
                        .tab-content {
                            pointer-events: auto;
                        }
                    }

                    .splide__pagination {
                        li {
                            pointer-events: auto;
                        }
                    }
                }

                &__tab {
                    pointer-events: auto;
                }
            }
        }

        &.fixed.active {
            position: fixed;
            top: 0;
        }
    }

    .catalog-item {
        display: block;

        &__image {
            max-width: rem(80);
            margin-right: 0;
            margin-bottom: rem(10);
            margin-left: auto;
            margin-right: auto;
        }
    
        &__category {
            font-size: rem(12);
            margin-bottom: 0;
            text-align: center;
        }
    
        &__links {
            display: none;
        }
    }
}