.custom-check {
    position: relative;
    display: inline-flex;
    align-items: center;
    @extend %user-cursor;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &_checkbox {
        .custom-check {
            &__checkmark {  
                width: rem(18);
                height: rem(18);
                border: rem(1) solid currentColor;
                border-radius: rem(2);
                margin-right: rem(15);
                position: relative;
                @include flex(0, 0, auto);
        
                &::after {
                    content: "✔";
                    color: inherit;
                    @extend %hidden;
                    text-align: center;
                    line-height: rem(16);
                    display: block;
                    width: 100%;
                    font-size: rem(15);
                }
            }

            &__label {
                line-height: 120%;
            }
        }

        input:checked ~ .custom-check__checkmark {
            &::after {
                @extend %show;
            }
        }
    }

    &_btn {
        width: 100%;

        .custom-check {
            &__btn {
                background-color: var(--themeMainColor03);
                border: 0;
                @include transition(background-color,0.3s,ease);
            }
        }

        input:checked ~ .custom-check__btn {
            background-color: var(--themeMainColor);
        }
    }

    &_radio {
        .custom-check {
            &__checkmark {  
                width: rem(18);
                height: rem(18);
                border-radius: 50%;
                border: rem(1) solid var(--themeMainColor);
                margin-right: rem(11);
                position: relative;
        
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: rem(10);
                    height: rem(10);
                    background-color: var(--themeMainColor);
                    border-radius: 50%;
                    @include transform(scale(0) translate(-50%, -50%));
                    @include transition(all,0.3s,ease);
                }
            }
        }

        input:checked ~ .custom-check__checkmark {
            &::after {
                @include transform(scale(1) translate(-50%, -50%));
            }
        }
    }
}