.form-fields {
    &__item {
        margin-top: rem(48);

        &:first-child {
            margin-top: 0;
        }
    }
}

.form-field {
    position: relative;

    &__label {
        @include font(600, 14, 130%, inherit, 0);
        margin-bottom: rem(8);
    }

    &__target {
        position: relative;
    }

    &__icon { 
        @include center-absolute(vertical);
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        @extend %not-selectable;
        color: inherit;
    }

    &__input {
        width: 100%;
        border-radius: rem(4);
        font-weight: 600;
        font-family: $fontPrimary;
        color: inherit;
        border-radius: rem(50);
    }

    &__message {
        @include font(normal, 14, 1, inherit, 0);
        margin-top: rem(6);

        &.error {
            color: map-get($color-scheme, 'error');
        }
    }

    // SIZES *****************
    &_sm {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(12);
                    }

                    .form-field__input {
                        padding-left: rem(12 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(12);
                    }

                    .form-field__input {
                        padding-right: rem(12 + 24);
                    }
                }
            }

            &__icon {
                font-size: rem(14);
            }

            &__input {
                height: rem(40);
                padding: 0 rem(20);
                font-size: rem(16);
                font-weight: 500;
            }
        }
    }

    &_md {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(16);
                    }

                    .form-field__input {
                        padding-left: rem(16 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(16);
                    }

                    .form-field__input {
                        padding-right: rem(16 + 24);
                    }
                }
            }

            &__input {
                height: rem(45);
                padding: 0 rem(20);
                font-size: rem(16);
            }
        }
    }

    &_lg {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(24);
                    }

                    .form-field__input {
                        padding-left: rem(24 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(24);
                    }

                    .form-field__input {
                        padding-right: rem(24 + 24);
                    }
                }
            }

            &__label {
                font-size: rem(16);
            }

            &__input {
                height: rem(56);
                padding: 0 rem(24);
                border-radius: rem(10);
                font-size: rem(18);
            }
        }
    }

    &_textarea {
        .form-field {
            &__input {
                min-height: rem(180);
                padding: rem(24);
                font-size: rem(18);
            }
        }
    }

    // TYPES ********************************
    &_main {
        .form-field {
            &__input {
                background-color: #fff;
                color: $color-main;

                @include input-placeholder {
                    color: map-get($color-scheme, 'main-05');
                    font-weight: 500;
                    font-family: $fontPrimary;
                }
            }
        }

        &.invalid {
            .form-field {
                &__target {
                    color: map-get($color-scheme, 'error');
                }

                &__input {
                    outline: 1px solid map-get($color-scheme, 'error');
                }
            }
        }
    }

    &_default {
        .form-field {
            &__input {
                background-color: #fff;
                color: $color-main;
                border: rem(1) solid $color-main;

                @include input-placeholder {
                    color: map-get($color-scheme, 'main-05');
                    font-family: $fontPrimary;
                }
            }
        }

        &.invalid {
            .form-field {
                &__target {
                    color: map-get($color-scheme, 'error');
                }

                &__input {
                    border: rem(1) solid map-get($color-scheme, 'error');
                }
            }
        }
    }
}


@media (max-width: $media-md) {
    .form-field {
        &_sm {
            .form-field {
                &__input {
                    height: rem(36);
                    padding: 0 rem(16);
                    font-size: rem(15);
                }
            }
        }
    }   
}

@media (max-width: $media-sm) {
    .form-field {
        &_sm {
            .form-field {
                &__input {
                    height: rem(32);
                }
            }
        }
    }   
}