.form-fields {
    &__item {
        margin-top: rem(15);

        &:first-child {
            margin-top: 0;
        }

        &_radio {
            @extend %flex;
            @extend %align-middle;
            flex-wrap: wrap;

            .custom-check {
                margin-left: rem(16);

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &__edit {
        margin-top: rem(40);
        @extend %user-cursor;

        .btn {
            span {
                text-decoration: underline;
            }
        }
    }

    &_editable {
        .form-fields__item {
           pointer-events: none
        }

        &.active {
            .form-fields {
                &__item {
                    pointer-events: auto;
                }

                &__edit {
                    .btn {
                        background-color: var(--themeMainColor);
                        color: var(--themeSecondaryColor);
    
                        span {
                            display: none;
                            text-decoration: none;
    
                            &.dn {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.form-field {
    position: relative;

    &__label {
        @include font(600, 14, 130%, inherit, 0);
        margin-bottom: rem(8);
    }

    &__target {
        position: relative;
    }

    &__icon { 
        @include center-absolute(vertical);
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        color: inherit;

        &:not([type=submit]) {
            @extend %not-selectable;
        }
        &[type=submit] {
            @extend %user-cursor;
        }
    }

    &__input {
        width: 100%;
        font-family: $fontPrimary;
        color: inherit;
        border-radius: rem(50);
    }

    &__message {
        @include transition(background-color,0.3s,ease);
        
        &.error {
            color: map-get($color-scheme, 'error');
        }
    }

    // SIZES *****************
    &_sm {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(12);
                    }

                    .form-field__input {
                        padding-left: rem(12 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(12);
                    }

                    .form-field__input {
                        padding-right: rem(12 + 24);
                    }
                }
            }

            &__input {
                height: rem(40);
                padding: 0 rem(20);
                font-size: rem(16);
                font-weight: 500;
            }
        }
    }

    &_md {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(16);
                    }

                    .form-field__input {
                        padding-left: rem(16 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(16);
                    }

                    .form-field__input {
                        padding-right: rem(16 + 24);
                    }
                }
            }

            &__input {
                height: rem(45);
                padding: 0 rem(22);
                font-size: rem(15);
            }
        }

        &.invalid {
            .form-field {
                &__message {
                    font-size: rem(10);
                    line-height: rem(14);
                    padding: 0 rem(7);
                }
            }
        }
    }

    &_lg {
        .form-field {
            &__target {
                &_prefix {
                    .form-field__icon {
                        left: rem(24);
                    }

                    .form-field__input {
                        padding-left: rem(24 + 24);
                    }
                }
        
                &_suffix {
                    .form-field__icon {
                        right: rem(24);
                    }

                    .form-field__input {
                        padding-right: rem(24 + 24);
                    }
                }
            }

            &__label {
                font-size: rem(16);
            }

            &__input {
                height: rem(56);
                padding: 0 rem(24);
                border-radius: rem(10);
                font-size: rem(18);
            }
        }
    }

    &_textarea {
        .form-field {
            &__input {
                min-height: rem(100);
                padding: rem(16) rem(20);
                border-radius: rem(20);
            }
        }
    }

    &_password {
        .form-field {
            &__icon {
                width: rem(32);
                height: rem(32);
                @extend %user-cursor;
                pointer-events: auto;
                opacity: 0.5;

                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include transition(all,0.3s,ease);
                    font-size: rem(32);

                    &-visible {
                        @extend %hidden;
                    }
                    &-hidden {
                        margin-top: rem(3);
                    }
                }
            }
        }

        &.active {
            .form-field {
                &__icon {
                    .icon {
                        &-hidden {
                            @extend %hidden;
                        }
                        &-visible {
                            @extend %show;
                        }
                    }
                }
            }
        }
    }

    // TYPES ********************************
    &_main {
        .form-field {
            &__input {
                background-color: #fff;
                color: $color-main;

                @include input-placeholder {
                    color: map-get($color-scheme, 'main-05');
                    font-weight: 500;
                    font-family: $fontPrimary;
                }
            }
        }

        &.invalid {
            .form-field {
                &__target {
                    color: map-get($color-scheme, 'error');
                }

                &__input {
                    outline: 1px solid map-get($color-scheme, 'error');
                }
            }
        }
    }

    &_default {
        .form-field {
            &__input {
                background-color: var(--themeSecondaryColor);
                color: var(--themeMainColor);
                border: rem(1) solid var(--themeMainColor05);
                @include transition(background-color,0.3s,ease);

                @include input-placeholder {
                    color: var(--themeMainColor);
                    font-family: $fontPrimary;
                    font-weight: normal;
                    font-size: rem(15);
                }
            }

            &__message {
                position: absolute;
                top: 0;
                left: 50%;
                @include translate(-50%, -50%);
                border: rem(1) solid map-get($color-scheme, 'error');
                background-color: var(--themeSecondaryColor);
                width: max-content;
                max-width: 80%;
            }
        }

        &.invalid {
            .form-field {
                &__target {
                    color: map-get($color-scheme, 'error');
                }

                &__input {
                    border: rem(1) solid map-get($color-scheme, 'error');

                    @include input-placeholder {
                        color: map-get($color-scheme, 'error');
                    }
                }
            }
        }
    }
}


@media (max-width: $media-md) {
    .form-field {
        &_sm {
            .form-field {
                &__input {
                    height: rem(36);
                    padding: 0 rem(16);
                    font-size: rem(15);
                }
            }
        }
    }   
}

@media (max-width: $media-sm) {
    .form-field {
        &_sm {
            .form-field {
                &__input {
                    height: rem(32);
                }
            }
        }
    }   
}