.product {
    box-shadow: map-get($shadows, 'sm');
    background-color: #fff;
    border-radius: rem(10);
    color: $color-main;
    @extend %flex;

    &__wrap {
        padding: rem(20);
        @extend %flex;
        @include flex-flow(column, nowrap);
    }

    &__header {
        @include flex(0, 0, auto);
    }

    &__top {
        @extend %flex;
        @extend %align-between;
        font-size: rem(15);
        margin-bottom: rem(10);
    }

    &__code {
        padding-right: rem(8);
    }

    &__brand {
        font-weight: bold;
    }

    &__preview {
        margin-bottom: rem(17);
        position: relative;
        display: block;
    }

    &__img {
        text-align: center;

        img {
            width: rem(200);
        }

        &_sm {
            img {
                width: rem(110);
            }
        }
    }

    &__badges {
        position: absolute;
        bottom: 0;
        right: rem(4);
        @extend %flex;
        @extend %align-bottom;
        @include flex-flow(column, nowrap);
    }

    &__title {
        @include font(500, 13, rem(16), inherit, 0);
        margin-bottom: rem(10);

        span {
            @include max-lines(3);
        }
    }

    &__body {
        @include flex(1, 1, auto);
        @extend %flex;
        @include flex-flow(column, nowrap);
    }

    &__info {
        margin-bottom: rem(12);
        margin-top: auto;
    }

    &__btn {
        text-align: center;

        .btn {
            max-width: 100%;
            padding-left: rem(25);
            padding-right: rem(25);
        }
    }

    &_suggest {
        .product {
            &__wrap {
                padding: rem(12) rem(16) rem(20);
            }

            &__top {
                font-size: rem(12);
            }

            &__img {
                img {
                    width: rem(110);
                }
            }

            &__title {
                font-size: rem(11);
                line-height: rem(14);
            }
        }
    }
}

.product-fake-img {
    position: fixed;
    z-index: 99999;
    border-radius: rem(10);
}

.chart-product {
    box-shadow: 1.69307px 1.69307px 22.5743px rgba(54, 64, 99, 0.2);
    background-color: #fff;
    color: $color-main;
    border-radius: rem(10);

    &__wrap {
        padding: rem(12);
    }

    &__header {
        @extend %flex;
        position: relative;
        margin-bottom: rem(9);
        font-size: rem(13);
    }

    &__code {
        width: rem(90);
        padding-right: rem(8);
    }

    &__brand {
        padding-right: rem(32);
    }

    &__remove {
        position: absolute;
        top: 0;
        right: 0;
        @extend %user-cursor;
        z-index: 1;

        .icon {
            font-size: rem(24);
        }
    }

    &__preview {
        @include flex(0, 0, rem(80));
    }

    &__content {
        @extend %flex;
    }

    &__img {
        img {
            width: rem(80);
        }
    }

    &__title {
        @include font(500, 13, rem(16), inherit, 0);
        margin-bottom: rem(14);

        span {
            @include max-lines(2);
        }
    }

    &__body {
        padding-left: rem(10);
    }

    &__counter {
        max-width: rem(110);
    }

    &__info {
        margin-bottom: 0;
        margin-left: rem(10);
        @include flex(1, 1, auto);
    }

    &__footer {
        @extend %flex;
        @extend %align-middle;
    }
}

.product-info {
    &__row {
        @extend %flex;
        font-size: rem(15);
        line-height: rem(21);
        margin-bottom: rem(5);

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            .product-info__price {
                font-weight: bold;
                font-size: rem(16);
            }
        }
    }

    &__price {
        @include flex(1, 1, auto);
        // @include flex(0, 0, 50%);
        // max-width: 50%;

        &:only-child {
            @include flex(0, 0, 100%);
            max-width: 100%;
        }

        &_sale {
            color: $color-primary;
            text-decoration: line-through;
        }
    }

    &__label {
        @include flex(1, 1, auto);
        // @include flex(0, 0, 50%);
        // max-width: 50%;
        text-align: right;

        &:only-child {
            @include flex(0, 0, 100%);
            max-width: 100%;
        }
    }

    &_xs {
        .product-info {
            &__row {
                font-size: rem(12);
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__price {
                &_primary {
                    font-size: rem(13);
                }
            }

            &__label {
                text-align: right;
            }
        }
    }
}

.product-counter {
    @extend %flex;
    @include transition(all, 0.3s, ease);
    color: map-get($color-scheme, 'main-03');
    border-color: map-get($color-scheme, 'main-03');
    border-style: solid;

    &__decrement {
        @include flex(0, 0, auto);
    }

    &__btn {
        @extend %user-cursor;
        text-align: center;
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;
        position: relative;

        &::after {
            content: '';
            @include center-absolute(vertical);
            background-color: map-get($color-scheme, 'main-03');
        }

        span {
            @include center-absolute(both);
        }

        &_decrement {
            &::after {
                right: 0;
            }

            span {
                @include translate(-50%, -55%);
            }
        }

        &_increment {
            &::after {
                left: 0;
            }
        }
    }

    &__value {
        @include flex(1, 1, auto);

        input {
            @include font(normal, 30, 1, inherit, 0);
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    &__increment {
        @include flex(0, 0, auto);
    }

    &.filled {
        border-color: $color-main;
        background-color: $color-main;
        color: #fff;

        .product-counter {
            &__btn {
                &::after {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }

        &:hover {
            border-color: $color-main;
            color: #fff;
        }
    }

    &:hover {
        border-color: $color-main;
        color: $color-main;
    }

    &_sm, &_md {
        border-width: rem(2);
        border-radius: rem(9);

        .product-counter {
            &__btn {
                width: rem(60);
                height: rem(50);
                @include font(300, 50, 1, inherit, 0);

                &::after {
                    width: rem(2);
                    height: rem(20);
                }
            }
        }
    }

    &_xs {
        border-width: rem(1);
        border-radius: rem(5);

        .product-counter {
            &__btn {
                width: rem(30);
                height: rem(31);
                @include font(300, 33, 1, inherit, 0);

                &::after {
                    width: rem(2);
                    height: rem(16);
                }
            }

            &__value {
                input {
                    @include font(normal, 20, 1, inherit, 0);
                }
            }
        }
    }
}

@media (max-width: $media-md) {
    .main-product {
        .product {
            &__top {
                font-size: rem(14);
            }
    
            &__img {
                img {
                    width: rem(160);
                }
            }
        }
    }

    .landscape-product {
        .badge {
            height: rem(20);
            line-height: rem(20);

            &_primary {
                padding: 0 rem(9);
                font-size: rem(11.9);
                margin-right: rem(1);
            }
            &_main {
                padding: 0 rem(10);
                font-size: rem(10.3);
            }
            &_gradient {
                font-size: rem(10.4);
                padding: 0 rem(11);
            }
        }

        .product {
            &__wrap {
                padding: rem(12);
            }

            &__header {
                display: flex;
                display: -ms-flexbox;
                @include flex-flow(row, wrap);
                margin-bottom: rem(7);
            }

            &__top {
                @include flex(0, 0, 100%);
                font-size: rem(9.6);
                margin-bottom: 0;
            }

            &__brand, &__code {
                padding-bottom: rem(4);
            }

            &__preview {
                @include flex(0, 0, rem(63));
                max-width: rem(63);
                margin-bottom: 0;
                position: static;
            }

            &__title {
                @include flex(1, 1, auto);
                max-width: calc(100% - rem(71));
                margin-bottom: 0;
                font-size: rem(9);
                line-height: rem(11);
                margin-left: rem(8);
                padding: rem(5) 0 rem(5) 0;
                border-bottom: rem(1) solid map-get($color-scheme, 'main-02');
                
                span {
                    @include max-lines(4);
                }
            }

            &__badges {
                position: relative;
                bottom: initial;
                right: initial;
                @include justify(flex-end);
                @include flex-flow(row, nowrap);
            }

            &__info {
                margin-bottom: rem(8);
                margin-top: initial;

                .product-info {
                    &__row {
                        font-size: rem(9.5);
                        line-height: rem(12);

                        &.active {
                            .product-info {
                                &__price {
                                    font-size: rem(10.3);
                                }
                            }
                        }
                    }
                }
            }

            &__counter {
                margin-top: auto;
            }
        }

        &.sales-active {
            .product {
                &__preview {
                    @include flex(0, 0, rem(48));
                    max-width: rem(48);
                }

                &__title {
                    border-bottom: 0;
                    padding-left: rem(16);
                    max-width: calc(100% - rem(56));

                    span {
                        @include max-lines(3);
                    }
                }
            }

            .product-info {
                &__row {
                    &:first-child {
                        margin-top: rem(-10);
                    }
                }

                &__price {
                    &_sale {
                        display: flex;
                        display: -ms-flexbox;
                        @include align-items(center);
                    }
                }
            }
        }
    }

    .product-info {
        &__row {
            font-size: rem(14);
            line-height: rem(18);

            &.active {
                .product-info {
                    &__price {
                        font-size: rem(15);
                    }
                }
            }
        }
    }

    .product-counter {
        &_md {
            .product-counter {
                &__btn {
                    width: rem(59);
                    height: rem(29);
                    line-height: rem(29);
                    font-size: rem(40);

                    &::after {
                        height: rem(17);
                        opacity: 0.3;
                    }
                }

                &__value {
                    input {
                        font-size: rem(16);
                    }
                }
            }
        }
    }
}

@media (max-width: $media-sm) {
    .product {
        &__btn {
            .btn {
                padding-left: rem(16);
                padding-right: rem(16);
            }
        }

        &_suggest {
            .product {
                &__wrap {
                    padding: rem(10);
                }

                &__top {
                    font-size: rem(10);
                }

                &__img {
                    img {
                        width: rem(100);
                    }
                }

                &__title {
                    font-size: rem(10);
                    line-height: rem(12);
                }
            }
        }
    }

    .main-product {
        .product {
            &__wrap {
                padding: rem(10);
            }
        
            &__top {
                font-size: rem(10);
            }
        
            &__code {
                padding-right: rem(8);
            }
        
            &__img {
                img {
                    width: rem(115);
                }
            }
        
            &__badges {
                right: 0;
            }
        
            &__title {
                font-size: rem(10);
                line-height: rem(12);
            }

            &__info {
                .badge_gradient {
                    height: rem(14);
                    line-height: rem(14);
                }
            }
        }
    }

    .landscape-product {
        .badge {
            height: rem(25);
            line-height: rem(25);

            &_primary {
                padding: 0 rem(10);
                font-size: rem(15);
            }
            &_main {
                padding: 0 rem(10);
                font-size: rem(13);
            }
            &_gradient {
                font-size: rem(13);
            }
        }

        .product {
            &__wrap {
                padding: rem(12);
            }

            &__header {
                margin-bottom: rem(7);
            }

            &__top {
                font-size: rem(12);
            }

            &__preview {
                @include flex(0, 0, rem(80));
                max-width: rem(80);
            }

            &__title {
                max-width: calc(100% - rem(88));
                font-size: rem(11);
                line-height: rem(14);
                margin-left: rem(8);
            }

            &__info {
                .product-info {
                    &__row {
                        font-size: rem(12);
                        line-height: rem(16);

                        &.active {
                            .product-info {
                                &__price {
                                    font-size: rem(13);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.sales-active {
            .product {
                &__preview {
                    @include flex(0, 0, rem(60));
                    max-width: rem(60);
                }

                &__title {
                    padding-left: rem(22);
                    max-width: calc(100% - rem(68));
                }
            }
        }
    }

    .chart-product {
        &__wrap {
            padding: rem(10);
            position: relative;
        }

        &__header {
            padding-left: rem(80);
        }

        &__code {
            width: initial;
            padding-right: rem(6);
        }

        &__brand {
            padding-right: rem(20);
        }

        &__remove {
            top: rem(-4);
            right: rem(-4);
        }

        &__preview {
            @include flex(0, 0, rem(70));
        }

        &__img {
            position: absolute;
            top: rem(10);
            left: rem(10);
        }

        &__title {
            min-height: rem(40);
        }

        &__img {
            img {
                width: rem(70);
            }
        }

        &__info {
            .product-info {
                &__row {
                    font-size: rem(13);
                    @include flex-flow(column, nowrap);
                    @include align-items(flex-end);
                }

                &__price {
                    @include flex(0, 0, 100%);
                    max-width: 100%;

                    &_primary {
                        font-size: rem(13);
                    }
                }

                &__label {
                    @include flex(0, 0, 100%);
                    max-width: 100%;
                    margin-bottom: rem(6);
                }
            }
        }

        &__footer {
            margin-left: rem(-80);
        }
    }

    .product-info {
        &__row {
            font-size: rem(12);
            line-height: rem(16);

            &.active {
                .product-info {
                    &__price {
                        font-size: rem(13);
                    }
                }
            }
        }

        &_sm {
            .product-info {
                &__row {
                    font-size: rem(11);

                    &.active {
                        .product-info {
                            &__price {
                                font-size: rem(12);
                            }
                        }
                    }
                }

                &__price {
                    &_primary {
                        font-size: rem(12);
                    }
                }
            }
        }

        &_xs {
            .product-info {
                &__row {
                    font-size: rem(10);
                }

                &__price {
                    &_primary {
                        font-size: rem(11);
                    }
                }
            }
        }
    }

    .product-counter {
        &_sm {
            border-radius: rem(5);
            border: rem(1) solid map-get($color-scheme, 'main-02');

            .product-counter {
                &__btn {
                    width: rem(34);
                    height: rem(26);
                    font-size: rem(30);
                    line-height: rem(30);

                    &::after {
                        height: rem(16);
                        width: rem(1);
                        opacity: 0.3;
                    }
                }

                &__value {
                    input {
                        font-size: rem(17);
                    }
                }
            }
        }

        &_md, &_mobile-md {
            .product-counter {
                &__btn {
                    width: rem(75);
                    height: rem(36);
                    line-height: rem(36);
                    font-size: rem(50);

                    &::after {
                        height: rem(23);
                    }
                }

                &__value {
                    input {
                        font-size: rem(20);
                    }
                }
            }
        }
    }
}
