@import "../utils/_module";


.main-sliders {
    margin-bottom: rem(46);
    
    &__wrap {
        @extend %flex;
        @extend %align-between;
        aspect-ratio: 3;
    }

    &__item {
        height: 100%;
        
        .preview-slider {
            height: 100%;

            &__wrap, .splide__track {
                height: 100%;
            }

            &__slide {
                position: relative;
                @extend %flex;

                & > img, video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &_sm {
            aspect-ratio: 9 / 16;
        }
        &_lg {
            aspect-ratio: 16 / 9;
        }
    }
}

.preview-slider {
    position: relative;
    border-radius: rem(20);
    overflow: hidden;

    .splide__pagination {
        position: absolute;
        left: rem(24);
        bottom: rem(24);

        button {
            background-color: #fff;
        }
    }
}

.product-showcase {
    margin-bottom: rem(44);

    &__title {
        word-wrap: break-word;
    }
}



@media(max-width: $media-md) {  
    .preview-slider {
        border-radius: rem(14);
        
        .splide__pagination {
            left: rem(16);
            bottom: rem(16);
        }
    }
}

@media(max-width: $media-sm) {
    .main-sliders {
        padding-top: rem(24);

        &__wrap {
            flex-wrap: wrap;
            aspect-ratio: auto;
        }

        &__item {
            &_sm {
                aspect-ratio: 9 / 16;
                width: calc(50% - rem(8));
            }
            &_lg {
                aspect-ratio: 16 / 9;
                margin-top: rem(16);
                width: 100%;
            }
        }
    }
    
    .preview-slider.main-pagination {
        .splide__pagination {
            left: rem(12);
            bottom: rem(12);

            button {
                margin-left: rem(10);
            }
        }
    }
}