@import "../utils/_module";
@import "../components/_checkbox";


.payment {
    margin-bottom: rem(55);

    &__wrap {
        @extend %flex;
        @extend %align-between;
        max-width: rem(850);
        margin-left: auto;
        margin-right: auto;
    }

    &__box {
        @include flex(0, 0, calc(50% - rem(25)));
        max-width: calc(50% - rem(25));
        background-color: var(--themeSecondaryColor);
        border-radius: rem(10); 
        box-shadow: 3px 3px 40px rgba(54, 64, 99, 0.1);
        padding: rem(50) rem(60);
    }
}

.payment-box {
    &__heading {
        @extend %flex;
        @extend %align-center;
    } 

    &__title {
        font-size: rem(20);
        font-weight: bold;
    }
    
    &__content {
        margin-top: rem(35);
    }

    &__footer {
        position: relative;
        margin-top: rem(20);
        padding-top: rem(20);

        &::after {
            content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
            position: absolute;
            font-size: rem(15);
            top: rem(-1);
            left: 0;
            right: 0;
            overflow: hidden;
            line-height: rem(2);
            white-space: nowrap;
            height: rem(3);
        }

        &-desc {
            position: relative;
            z-index: 1;
        }

        .info-block {
            @include center-absolute(vertical);
            left: 100%;
        }
    }

    &__submit {
        margin-top: rem(20);
    }
}

.payment-methods {
    .payment-method  {
        margin-bottom: rem(14);
    }
}

.payment-method {
    .btn {
        img {
            @include flex(0, 0, auto);
            width: rem(106);
        }
    }

    &__desc {
        padding-top: rem(16);
        font-size: rem(15);
        line-height: rem(18);
    }
}

.info-block {
    &__icon {
        @extend %user-cursor;
        @extend %flex;
        font-size: rem(15);
        color: var(--themeMainColor05);

        &:hover .info-block__text {
            @extend %show;
        }
    }

    &_mobile {
        .info-block {
            &__icon {
                display: none;
            }
        }
    }

    &:not(.info-block_mobile) {
        .info-block {
            &__text {
                position: absolute;
                left: rem(-32);
                bottom: 100%;
                z-index: z(dropdown);
                padding-bottom: rem(30);
                @extend %hidden;
                
                div {
                    border: rem(1) solid var(--themeMainColor05);
                    border-radius: rem(2);
                    background-color: var(--themeSecondaryColor);
                    padding: rem(16) rem(20);
                    width: rem(250);
                    font-size: rem(14);
                    color: var(--themeMainColor);
                    cursor: initial;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 99%;
                        left: rem(37);
                        width: rem(27);
                        height: rem(23);
                        @include background('../../img/triangle.svg', center, contain, no-repeat, transparent);
                    }
                }

            }
        }
    }
}

.dark-theme {
    .info-block {
        &:not(.info-block_mobile) {
            .info-block {
                &__text {
                    div {
                        &::after {
                            background-image: url("../../img/triangle-dark.svg");
                        }
                    }
                }
            }
        }
    }
}

.payment-orders {
    max-width: rem(1100);
    margin-left: auto;
    margin-right: auto;

    &__heading {
        position: relative;
    }

    &__title {
        text-align: center;
        font-size: rem(30);
        font-weight: bold;
        line-height: rem(37);
    }

    &__content {
        margin-top: rem(25);
    }

    &__list {
        background: var(--themeSecondaryColor);
        box-shadow: 3px 3px 20px rgba(54, 64, 99, 0.15);
        border-radius: rem(10);
        padding: rem(5);
    }

    &__head {
        padding-top: rem(2);
        margin-bottom: rem(9);
        font-size: rem(10);
        line-height: rem(12);
        font-weight: 500;
    }

    &__row {
        @extend %flex;
    }

    &__col {
        @extend %flex;
        @extend %align-middle;

        &:first-child {
            @include flex(0, 0, rem(74));
            max-width: rem(74);
        }
        &:nth-child(2) {
            @include flex(0, 0, 16.6666666%);
            max-width: 16.6666666%;
        }
        &:nth-child(3) {
            @include flex(1, 1, auto);
            padding-right: rem(24);
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            @include flex(0, 0, 10%);
            max-width: 10%;
            padding: 0 rem(5);
            @extend %align-center;
        }
    }

    &__body {
        .order-card {
            margin-bottom: rem(5);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.order-card {
    background: var(--themeSecondaryColor);
    box-shadow: 3px 3px 20px rgba(54, 64, 99, 0.15);
    border-radius: rem(10);
    padding: rem(5);
    font-size: rem(15);
    line-height: rem(18);

    &__img {
        width: rem(60);
        border-radius: rem(6);
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__about {
        padding-right: rem(24);
    }

    &__code {
        margin-bottom: rem(5);
    }

    &__brand {
        font-weight: bold;
    }

    &__title {
        @include max-lines(2);
    }

    &__total {
        font-weight: bold;
    }
}

.order-block {
    max-width: rem(1100);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: rem(55);
    
    &__wrap {
        background: var(--themeSecondaryColor);
        box-shadow: 3px 3px 40px rgba(54, 64, 99, 0.1);
        border-radius: rem(10);
        padding: rem(30) rem(40);
        font-size: rem(15);
        line-height: rem(18);
    }

    &__print {
        position: absolute;
        right: rem(24);
        top: rem(-18);
        @extend %flex;
        @extend %align-middle;
        @extend %user-cursor;
        @include translate(0, -100%);
        font-size: rem(13);
        font-weight: bold;

        .icon {
            font-size: rem(20);
            margin-right: rem(8);
        }
    }

    &__heading {
        @extend %flex;
        @extend %align-between;
        padding-bottom: rem(24);
        margin-bottom: rem(24);
        position: relative;

        .order-block {
            &__label {
                margin-bottom: rem(7);
            }
        }

        &::after {
            content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ";
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem(-1);
            white-space: nowrap;
            font-size: inherit;
            overflow: hidden;
            line-height: rem(4);
        }
    }

    &__value {
        font-weight: bold;
    }

    &__body {
        .order-block {
            &__pair {
                @extend %flex;
                @extend %align-top;
                margin-bottom: rem(30);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__label {
                @include flex(0, 0, 25%);
                max-width: 25%;
            }

            &__value {
                @include flex(0, 0, 75%);
                max-width: 75%;
            }
        }
    }
}



@media (max-width: $media-md) {
    .payment {
        &__box {
            @include flex(0, 0, calc(50% - rem(10)));
            max-width: calc(50% - rem(10));
            padding: rem(50) rem(35);
        }
    }

    .info-block {
        &:not(.info-block_mobile) {
            .info-block {
                &__text {
                    left: initial;
                    right: rem(-32);
                    
                    div {
                        &::after {
                            top: 99%;
                            left: initial;
                            right: rem(15);
                        }
                    }
    
                }
            }
        }
    }

    .payment-orders {
        &__title {
            font-size: rem(20);
            line-height: rem(24);
        }
    
        &__col {
            &:nth-child(2) {
                @include flex(0, 0, 14%);
                max-width: 14%;
            }
            &:nth-child(3) {
                padding-right: rem(16);
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                @include flex(0, 0, 13%);
                max-width: 13%;
            }
        }
    }
    
    .order-card {
        font-size: rem(13);
        line-height: rem(16);
    
        &__about {
            padding-right: rem(16);
        }
    }
}

@media (max-width: $media-sm) {
    .payment {
        margin-bottom: rem(15);

        &__wrap {
            @include flex-flow(column, nowrap);
        }
    
        &__box {
            flex: initial;
            max-width: initial;
            border-radius: 0; 
            padding: rem(20);
            margin-left: rem(-20);
            margin-right: rem(-20);
            margin-bottom: rem(15);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .payment-box {
        &__heading {
            @include justify(flex-start);
            @include align-items(center);
            position: relative;

            .spoiler-box__control {
                position: absolute;
                right: rem(-14);
                top: rem(-14);
            }
        } 
    
        &__title {
            font-size: rem(15);
            line-height: rem(18);
        }

        &__content {
            margin-top: rem(28);
        }
    
        &__footer {
            margin-top: rem(25);
            padding-top: rem(25);

            .info-block {
                transform: none;
                top: initial;
                bottom: rem(-17);
                left: initial;
                right: rem(-5);
            }
        }
    }

    .payment-method {
        position: relative;

        &__desc {
            padding-top: 0;
            position: absolute;
            top: rem(-15);
            right: rem(-5);
        }
    }
    
    .info-block {
        &_mobile {
            .info-block {
                &__icon {
                    display: flex;
                    display: -ms-flexbox;
                }
            }
        }
    
        &.info-block_mobile {
            .info-block {
                &__icon {
                    &:hover ~ .info-block__text {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }

                &__text {
                    position: absolute;
                    right: rem(-2);
                    bottom: 100%;
                    z-index: z(dropdown);
                    padding-bottom: rem(15);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    
                    div {
                        border: rem(1) solid var(--themeMainColor05);
                        border-radius: rem(2);
                        background-color: var(--themeSecondaryColor);
                        padding: rem(13) rem(16);
                        width: rem(250);
                        font-size: rem(13);
                        color: var(--themeMainColor);
                        cursor: initial;
                        position: relative;
    
                        &::after {
                            content: "";
                            position: absolute;
                            top: 99%;
                            right: rem(2);
                            width: rem(15);
                            height: rem(13);
                            @include background('../../img/triangle.svg', center, contain, no-repeat, transparent);
                        }
                    }
    
                }
            }
        }

        &:not(.info-block_mobile) {
            .info-block {
                &__text {
                    right: rem(-2);
                    padding-bottom: rem(15);
                    
                    div {
                        font-size: rem(13);
                        padding: rem(13) rem(16);

                        &::after {
                            right: rem(2);
                            width: rem(15);
                            height: rem(13);
                        }
                    }
    
                }
            }
        }
    }

    .dark-theme {
        .info-block {
            &.info-block_mobile {
                .info-block {
                    &__text {
                        div {
                            &::after {
                                background-image: url("../../img/triangle-dark.svg");
                            }
                        }
                    }
                }
            }
        }
    }

    .payment-orders {
        background: var(--themeSecondaryColor);
        box-shadow: 1.7px 1.7px 23px rgba(54, 64, 99, 0.1);
        margin-left: rem(-20);
        margin-right: rem(-20);
        padding: rem(20) rem(10) rem(10);

        &__heading {
            position: relative;
            padding: 0 rem(10) rem(10);

            .spoiler-box__control {
                position: absolute;
                top: rem(-14);
                right: rem(-4);
            }
        }
    
        &__title {
            text-align: left;
            font-size: rem(15);
            line-height: rem(18);
        }

        &__content {
            margin-top: rem(15);
        }
    
        &__list {
            background: transparent;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
        }
    
        &__head {
            display: none;
        }
    
        &__row {
            flex-wrap: wrap;
        }
    
        &__col {
            &:first-child {
                position: absolute;
                top: rem(10);
                left: 0;
                @include flex(0, 0, rem(100));
                width: 100%;
                max-width: rem(100);
                @include justify(center);
            }
            &:nth-child(2) {
                @include flex(0, 0, 100%);
                max-width: 100%;
            }
            &:nth-child(3) {
                @include flex(0, 0, 100%);
                padding-right: 0;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                @include flex(0, 0, auto);
                max-width: initial;
                padding: 0;
                @include justify(flex-start);
            }
        }
    
        &__body {
            .order-card {
                margin-bottom: rem(10);
            }
        }
    }
    
    .order-card {
        padding: rem(10) rem(15) rem(15) rem(100);
        font-size: rem(11);
        line-height: rem(13);
        position: relative;
    
        &__img {
            width: rem(70);
        }
    
        &__about {
            padding-right: 0;
            margin-bottom: rem(11);
            display: flex;
            display: -ms-flexbox;
        }
    
        &__code {
            margin-bottom: 0;
            margin-right: rem(10);
        }

        &__quantity {
            position: relative;

            &::after {
                content: "X";
                margin-left: rem(2);
                margin-right: rem(4);
                font-size: inherit;
            }
        }
        
        &__price {
            &::after {
                content: "=";
                margin-left: rem(2);
                margin-right: rem(4);
                font-size: inherit;
            }
        }
    
        &__title {
            margin-bottom: rem(16);
        }
    }
    
    .order-block {
        margin-bottom: rem(15);
        
        &__wrap {
            border-radius: 0;
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding: rem(20) rem(10);
            font-size: rem(13);
            line-height: rem(16);
        }
    
        &__print {
            right: 0;
            top: rem(-18);
        }
    
        &__heading {
            display: block;
            padding-bottom: 0;
            margin-bottom: 0;
    
            .order-block {
                &__pair {
                    display: flex;
                    display: -ms-flexbox;
                    margin-bottom: rem(15);
                }

                &__label {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                    margin-bottom: 0;
                }
    
                &__value {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
            }
    
            &::after {
                display: none;
            }
        }
    
        &__body {
            .order-block {
                &__pair {
                    margin-bottom: rem(15);
                }
    
                &__label {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
    
                &__value {
                    @include flex(0, 0, 50%);
                    max-width: 50%;
                }
            }
        }
    }
}