@import "../utils/_module";

.product-inner {
    margin-bottom: rem(64);
    padding-top: rem(54);
    
    &__breadcrumb {
        margin-bottom: rem(24);
    }

    &__wrap {
        @extend %flex;
    }

    &__slider {
        @include flex(0, 0, rem(565));
    }

    &__body {
        @include flex(1, 1, auto);
    }

    &__title {
        font-size: rem(20);
        font-weight: bold;
        line-height: rem(24);
        margin-bottom: rem(30);
    }

    &__variants {
        margin-bottom: rem(33);
    }

    &__action {
        @include flex(0, 0, rem(300));
    }
}

.product-slider {
    @extend %flex;

    &__thumbs {
        @include flex(0, 0, rem(70));
        margin-right: rem(30);
    }

    &__main {
        @include flex(1, 1, auto);
    }

    .splide__arrow {
        background: var(--themeSecondaryColor);
        // opacity: 0.5;
        box-shadow: map-get($shadows, 'xs');
        color: var(--themeMainColor05);
        border-radius: 50%;
        width: rem(50);
        height: rem(50);
        @extend %flex;
        @extend %align-middle;
        @extend %align-center;

        svg {
            path {
                fill: var(--themeMainColor05);
            }
        }
    }
}

.product-thumbs {
    position: relative;
    
    .splide{
        padding: rem(40) 0;
    }

    &__slide {
        padding: rem(5) 0;

        &.is-active {
            .product-thumb {
                &__wrap {
                    border-color: #000;
                    border-width: rem(2);
                }
            }
        }
    }

    &__item {
        .product-thumb {
            &__wrap {
                border: rem(1) solid #FF00C7;
            }
        }
    }

    .splide__arrow {
        @include center-absolute(horizontal);
        @extend %user-cursor;

        &--prev {
            top: 0;

            svg {
                @include rotate(-90);
            }
        }
        &--next {
            bottom: 0;

            svg {
                @include rotate(90);
            }
        }
    }
}

.product-images {
    position: relative;
    margin-right: rem(60);

    &__slide {

    }

    .splide__arrow {
        @include center-absolute(vertical);
        @extend %user-cursor;
        z-index: 1;

        &--prev {
            left: 0;
            
            svg {
                @include rotate(-180);
            }
        }
        &--next {
            right: 0;
        }
    }

    &__slider {
    }

    &__action {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &__btns {
        position: relative;
        padding-bottom: rem(12);

        .share-panel {
            @include center-absolute(horizontal);
            @extend %hidden;
            top: 100%;
        }

        &.active {
            .share-panel {
                @extend %show;
            }
        }
    }

    &__btn {
        @extend %user-cursor;

        &_fav {
            width: rem(24);
            height: rem(24);
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem(20);

            .icon {
                @include center-absolute(both);
                @include transition(all,0.3s,ease);
                font-size: rem(30);

                &-heart {
                    @extend %hidden;
                }
            }

            &.active {
                color: map-get($color-scheme, 'primary');

                .icon {
                    &-heart {
                        @extend %show;
                    }

                    &-heart-stroke {
                        @extend %hidden;
                    }
                }
            }
        }

        &_share {
            color: var(--themeMainColor05);
            font-size: rem(30);
        }
    }

    &__badge {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}

.share-panel {
    background-color: var(--themeSecondaryColor);
    box-shadow: 2.5px 2.5px 16.4px rgba(54, 64, 99, 0.15);
    border-radius: rem(10);
    padding: rem(12) rem(10);
    @extend %flex;
    @extend %align-middle;
    @include flex-flow(column, nowrap);
    width: rem(50);

    &__item {
        margin-bottom: rem(7);
        text-align: center;
        @extend %user-cursor;

        img {
            width: rem(30);
        }

        &:first-child {
            .icon {
                font-size: rem(17);
            }
        }

        &:last-child {
            margin-bottom: 0;

            .icon {
                font-size: rem(18);
            }
        }
    }
}

.product-variants {
    &__list {
        @extend %flex;
        @include flex-flow(row, wrap);
        max-width: rem(390);
        margin-top: rem(-10);
        margin-left: rem(-10);

        .product-thumb {
            margin-top: rem(10);
            margin-left: rem(10);

            &.active {
                .product-thumb {
                    &__wrap {
                        border: rem(2) solid #000;
                    }
                }
            }
        }
    }
}

.product-thumb {
    position: relative;
    @extend %user-cursor;
    
    &__wrap {
        border-radius: rem(5);
        overflow: hidden;
    }

    &__count {
        position: absolute;
        top: rem(-4);
        right: rem(-4);
        background-color: map-get($color-scheme, 'primary');
        color: #fff;
        min-width: rem(25);
        text-align: center;
        font-size: rem(12);
        font-weight: 600;
        line-height: rem(25);
        padding: 0 rem(7);
        border-radius: rem(20);
        z-index: 1;
    }
}

.product-variants {
    &__title {
        font-size: rem(15);
        line-height: rem(18);
        margin-bottom: rem(18);
    }
}

.product-feature {
    max-width: rem(390);

    &__title {
        font-size: rem(15);
        line-height: rem(18);
        margin-bottom: rem(15);
    }

    &__heading {
        padding-bottom: rem(20);
        border-bottom: rem(1) solid var(--themeMainColor02);
        margin-bottom: rem(30);
    }

    &__row {
        @extend %flex;
        margin-bottom: rem(15);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        @include flex(0, 0, 45%);
        max-width: 45%;
        font-size: rem(13);
        line-height: rem(16);
    }

    &__value {
        @include flex(0, 0, 55%);
        max-width: 55%;
        font-size: rem(15);
        line-height: rem(18);
        font-weight: bold;
    }
}

.counter-block {
    background-color: var(--themeSecondaryColor);
    box-shadow: 2.5px 2.5px 16.4px rgba(54, 64, 99, 0.15);
    border-radius: rem(17);
    padding: rem(30);

    &__sales {
        margin-bottom: rem(25);

        .sale-badges {
            @extend %flex;
            @extend %align-bottom;
            @include flex-flow(column, nowrap);
            position: relative;

            &__old {
                color: map-get($color-scheme, 'primary');
                text-decoration: line-through;
                font-size: rem(15);
                line-height: rem(18);
                position: absolute;
                top: rem(10);
                left: 0;
                max-width: 50%;
            }

            .badge_main {
                width: 111%;
                text-align: center;
            }
        }
    }

    &__info {
        margin-bottom: rem(36);

        .product-info {
            &__row {
                &.active {
                    .product-info__price {
                        font-size: rem(20);
                    }
                }
            }
        }
    }

    &__action {
    }
}